<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uvao_wp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> 
        
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:largeHeap="true">
        
        <service 
            android:name="uvao_wp.main_engine"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
        	<intent-filter android:priority="1" >
                  <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data 
                 android:name="android.service.wallpaper" 
                 android:resource="@layout/preview_x" />
            </service>
    </application>
</manifest>
 